@()

@main("Welcome to BudgetMaker") {
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Category</th>
					<!-- ko foreach: budget -->
					<th data-bind="text: $root.printFullMonth(month)"></th>
					<!-- /ko -->
					<th>Budget YTD</th>
				</tr>
			</thead>
			<tbody data-bind="foreach: lineItemCategories">
				<tr>
					<td data-bind="text: $data"></td>
					<!-- ko foreach: $parent.budget-->
					<td>
						<input type="number" min="0" step="1" size="5" data-bind="value: $root.computeLineItemAmount($data, $parentContext.$data)"/>
					</td>
					<!-- /ko -->
					<td data-bind="text: $root.computeLineTotalAmount($data)"></td>
				</tr>
			</tbody>
			<tbody>
				<tr>
					<th>Budgeted Income</th>
					<!-- ko foreach: budget -->
					<td data-bind="text: '$'+$root.totalCategoryTypeThisMonth($data, 'income')"></td>
					<!-- /ko -->
					<td data-bind="text: '$'+totalCategoryTypeYTD('income')"></td>
				</tr>
				<tr>
					<th>Budgeted Expenses</th>
					<!-- ko foreach: budget -->
					<td data-bind="text: $root.totalCategoryTypeThisMonth($data, 'expense')"></td>
					<!-- /ko -->
					<td data-bind="text: '$'+totalCategoryTypeYTD('expense')"></td>
				</tr>
				<tr>
					<th>Budgeted Total</th>
					<!-- ko foreach: budget -->
					<td data-bind="text: '$'+$root.monthlyBudgetedTotal($data)"></td>
					<!-- /ko -->
					<td data-bind="text: '$'+budgetedTotalYTD()"></td>
				</tr>
			</tbody>
		</table>
	</div>
}
